@import 'tailwindcss';

body {
  color: black;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  margin-bottom: 10px;
}

input {
  border: 2px solid #ddd;
  width: 160px;
  background-color: #ebebeb;
}

li {
  color: #333;
  font-size: 16px;
  border: 2px solid #fff;
  width: 155px;
  background-color: #c8c8c8;
  list-style: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

li:hover {
  background-color: #f15b2a;
  cursor: pointer;
}

form button {
  background-color: #76cbe0;
  color: #000;
}
form button:hover {
  background-color: #1f778d;
  border: 2px solid #000;
  cursor: pointer;
}

